a{
    padding: 10px;
    text-decoration: none;
    font-size: 30px;
}

a:link{
    color: blueviolet;
}

a:visited{
    color:coral
}

a:hover{
    color: blue;
}

a:active{
    color: black;
    background-color: aquamarine;
}